extends layout 
block layout-content 
  div
    img(src="/images/puppy.webp", alt="Image for website" , class="puppy")
  h2.taste Importance Of Dogs
  p There are more than 150 dog breeds, divided into 8 classes: sporting, hound, working, terrier, toy, non-sporting, herding, and miscellaneous.According to a recent survey, the most popular name for a dog is Max. Other popular names include Molly, Sam, Zach, and Maggie. Dogs can vary in size from a 36 inch (150+ lb.) Great Dane to a 2 lb. Chihuahua. Puppies and kittens can be adopted as early as 8 weeks of age.  Until then, they should stay with their moms and littermates. About 1/3 of the dogs that are surrendered to animal shelters are purebred dogs.Contrary to popular belief, dogs do not sweat by salivating. They sweat through the pads of their feet. Dogs may not have as many taste buds as we do (they have about 1,700 on their tongues, while we humans have about 9,000), but that doesn’t mean they’re not discriminating eaters. They have over 200 million scent receptors in their noses (we have only 5 million) so it’s important that their food smells good and tastes good.
  //- ul 
  //-   each res in News
  //-     div
  //-         #details
  //-             h3 #{res.title}
  //-             a(href=`${res.url}`) Explore daily news of dogs from here!
  